.brand{
    font-family: "Gloucester MT Extra Condensed", lcqf !important;
    color: white !important;
    text-transform: uppercase;
}

.intro-lead-in{
    font-family: "Monserrat" !important;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-style: normal !important;
}

.barre {
  display: block;
  width: 5em;
  margin-bottom: 2em;
  height: 2px; /* Épaisseur */
  background-color: white;
}
.traiteur-container {
    margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Gère l'espace entre tous les éléments */
}
.traiteur-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Gère l'espace entre tous les éléments */
}

.brandFont{
    font-family: "Gloucester MT Extra Condensed", lcqf ;

}

.bordure{
    background-image: url(/img/bordure.png);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 15px;
}

.camion_head{
    height: 1em;
    margin-bottom: 8px;
}

.contact{
    color: white;
}


iframe.maps {
    width: 800px ;
    height: 400px;
}

@media screen and (max-width: 410px) {
    iframe.youtube{
        width: 340px;
        height: 200px;
    }

    iframe.maps {
        width: 340px ;
        height: 400px;
    }
}
.slick-prev:before{
    color: black;
    display: none;
}
.slick-next:before{
    color: black;
    display: none;
}

.caroussel{
    max-width: 700px;
}

@media screen and (min-width: 750px){
    iframe {
        width:700px;
        height:394px;
    }

}

.line-initial {
	line-height: initial;
}

body{
    font-family: inter;
}
