.brand{
    /*
    font-family: "Gloucester MT Extra Condensed", lcqf !important;
    color: white !important;
    */
    font-family: "Judson", serif !important;
    color: #F7B74D !important;
    text-transform: uppercase;
}

.navbar-default{
    background-color: black;
}

.intro-lead-in{
    font-family: "Monserrat" !important;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-style: normal !important;
    color: #F7B74D !important;
    font-weight: 100;
}

.barre {
  display: block;
  width: 6em;
  margin-bottom: 1em;
  height: 3px; 
  background-color: #F7B74D;
}
.traiteur-container {
    margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em; 
}
.traiteur-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em; 
}

.brandFont{
    /*
    font-family: "Gloucester MT Extra Condensed", lcqf ;
    */
    font-family: "Judson", serif;

}

.bordure{
    background-image: url(/img/bordure.png);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 15px;
}

.camion_head{
    height: 1em;
    margin-bottom: 8px;
}

.contact{
    color: white;
}


iframe.maps {
    width: 800px ;
    height: 400px;
}

@media screen and (max-width: 410px) {
    iframe.youtube{
        width: 340px;
        height: 200px;
    }

    iframe.maps {
        width: 340px ;
        height: 400px;
    }
}
.slick-prev:before{
    color: black;
    display: none;
}
.slick-next:before{
    color: black;
    display: none;
}

.caroussel{
    max-width: 700px;
}

@media screen and (min-width: 750px){
    iframe {
        width:700px;
        height:394px;
    }

}

.line-initial {
	line-height: initial;
}

body{
    font-family: inter;
}
