<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand page-scroll brand" href="#page-top"><img src="img/Lcqf_logo_2026_F7B74D.png" class="camion_head" alt="Le Camion Qui Fabrique"> {{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#valeurs">Valeurs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#produits">Specialités</a>
                    </li>
<!--
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
-->
<!--
                    <li>
                        <a class="page-scroll" href="#about">A propos</a>
                    </li>
-->
<!--
                    <li>
                        <a class="page-scroll" href="#team">La team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
-->
                    <li>
                        <a class="page-scroll" href="#where">Nous trouver</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading brand">Le Camion Qui Fabrique</div>
                <div class="intro-heading brand" style="margin: 1em;">
  <p class="traiteur-text intro-lead-in">TRAITEUR</p>
                </div>
<div class="traiteur-container">
  <span class="barre"></span>
                    <img src="img/Lcqf_logo_2026_F7B74D.png"  alt="Le Camion Qui Fabrique">
  <span class="barre"></span>
</div>
                <br>
                <br>
        <!--
                <a href="#valeurs" class="page-scroll btn btn-xl">La suite</a>
        -->
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

