<!-- Services Section -->
    <section id="valeurs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Traiteur événementiel depuis 10 ans </h2>
                        <img src="img/image59.jpeg" class="img-responsive center-block" alt="burger du camion qui fabrique">
                    <!--<h3 class="section-subheading text-muted">La vision et les valeurs</h3>-->
                </div>
            </div>
            <div class="row">
		<div class="col-md-2">
		</div>
                <div class="col-md-8">
<!--
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
-->
<br/>
<p class="line-initial">
Je suis Loetitia, passionnée, entrepreneuse et femme de terrain.<br/>
À travers Le Camion Qui Fabrique, mon objectif est d’apporter la qualité de service à chaque événement et de créer des instants de partage et d’émotion. </p>
<p class="line-initial">
Nous accompagnons particuliers et entreprises pour imaginer des événements conviviaux et gourmands.
</p>
<p class="line-initial">
Nos services incluent : cocktails repas, buffets, planchas et desserts, préparés avec des produits frais et de saison.<br/>
Nous pouvons également mettre à disposition et gérer la vaisselle, si vous le souhaitez.
</p>

<p class="line-initial">
Chaque projet est pensé pour être soigné, efficace et parfaitement adapté à vos besoins, avec une organisation claire et un suivi attentif à chaque étape.
</p>
                </div>

		<div class="col-md-2">
		</div>

            </div>

        </div>
    </section>

<section id="produits">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Spécialisé en cocktails repas</h2>
                <!--<h3 class="section-subheading text-muted">La vision et les valeurs</h3>-->
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12">
<!--
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
-->
                <p>
                        <p>Plancha</p>
                        <p>Brunch</p>
                        <p>Buffet</p>
                        <p>Assortiment de desserts maison</p>
                </p>
                <img src="img/gallery2_700.jpg" class="img-responsive center-block" alt="gallery">
                <img src="img/gallery3_700.jpeg" class="img-responsive center-block" alt="gallery">
<!--
                <p>Dessert maison</p>
                <img src="img/fraises_y467.jpg" class="img-responsive center-block" alt="dessert du camion qui fabrique">
-->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="row text-center">
            <div class="col-md-12">
<!--
                    <h3>Notre histoire</h3>
-->
<br/>
<br/>
                    <p>Notre histoire commence ici… il y a 10 ans.
Des débuts en food truck à notre activité actuelle de traiteur.</p>
                    <iframe class="youtube" src="https://www.youtube.com/embed/ufj5T0sRWtY" frameborder="0" allowfullscreen ></iframe>
            </div>
            </div>
        </div>
        </div>

</section>
